anytree==2.8.0
asgiref==3.5.2
awscli==1.25.41
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
botocore==1.27.41
cached-property==1.5.2
cachetools==5.2.0
cement==2.8.2
certifi==2022.6.15
charset-normalizer==2.0.12
chevron==0.14.0
cloudinary==1.29.0
colorama==0.4.3
Django==4.0.6
django-environ==0.9.0
docutils==0.16
environ==1.0
frozendict==2.3.4
future==0.16.0
genanki==0.13.0
idna==3.3
jmespath==0.10.0
johnnydep==1.14
mysqlclient==2.1.1
oyaml==1.0
packaging==21.3
pathspec==0.9.0
pkginfo==1.8.3
pyasn1==0.4.8
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.6.0
semantic-version==2.8.5
six==1.14.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
structlog==22.1.0
tabulate==0.8.10
termcolor==1.1.0
toml==0.10.2
tzdata==2022.1
urllib3==1.26.10
wcwidth==0.1.9
wimpy==0.6
