.login__form-error{
    width:280px;
}

.login__form-container{}

.login__form{
    background-color: #398AB9;
    border-radius: 20px;
    color: white;
    width: 280px;
}

.login__form-input{
    margin:30px 0px;
}

@media (min-width:768px){
    .login__form{
        width:560px;
    }
    
    .login__form-input{
        margin:40px 80px
    }

    .button--login{
        width: 325px;
    }


}